services:
  catalogdb:
    image: postgres:18
    container_name: catalogdb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: catalogdb
    ports:
      - "5432:5432"   # host:container
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
